@media screen and (min-width: 420px)
  .header
    margin: 3em 0

  .url
    width: 188px


@media screen and (min-width: 800px)
  .header
    margin: 3em 0

  input[type='url']
    width: 280px
    margin-right: 5px

  .page
    margin: 0 auto
    width: 790px

  .urls
    width: 800px
    overflow: auto

  .url
    display: block
    float: left

  .modal
    width: 570px
    margin-left: -305px
    margin-top: -165px

    h2
      font-size: 1.8em

    input[type='email']
      width: 530px
