.pinging
  .content
    background: url(../images/pinger.gif) no-repeat center

.error
  .content
    background: url(../images/down_red.png) no-repeat center

.status-4xx
  .content
    background: url(../images/down_yellow.png) no-repeat center

.status-3xx
  .content
    background: url(../images/right_blue.png) no-repeat center

.status-2xx
  .content
    background: url(../images/up_green.png) no-repeat center
