extends layout

block content

  .page

    .header
      form(ng-controller='createCtrl', ng-submit='add()')
        input(type='url', ng-model='url', placeholder='http(s)://', required)
        button Add

    .urls(ng-controller='urlsCtrl')

      .url(ng-repeat='url in urls', ng-controller='urlCtrl', ng-class='url|css')

        .content(ng-click='select()')
          h2 {{url|name}}
          h3 <strong>{{url.ms}}</strong> ms

        .link 
          a(ng-href='{{url.url}}', title='{{url.url}}', target='_blank'){{url.url|tinyUrl}}

    .modal(ng-controller='modalCtrl', ng-show='display')

      form(ng-submit='submit()')

        h2 {{url}}

        input(type='email', placeholder='E-mail')

        .warnings
          h3 Warn me on:

          label
            input(type='checkbox', ng-model='errors')
            |  Errors

          label
            input(type='checkbox', ng-model='_5xx')
            |  5xx

          label
            input(type='checkbox', ng-model='_4xx')
            |  4xx

          label
            input(type='checkbox', ng-model='_3xx')
            |  3xx

          label
            input(type='checkbox', ng-model='_2xx')
            |  2xx

        .actions
          button(type='submit') Update  
          button.cancel(ng-click='cancel()') Cancel
          button.remove Remove
