doctype 5
html(lang='en', ng-app='sup')
  head
    meta(charset='utf8')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
    link(href='/stylus/general.css', rel='stylesheet')

    style

  body

    block content

    script(src='/socket.io/socket.io.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js')
    script(src='client.js')
